<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l">
      Welcome to the Case Management System. This system allows you to create, view, update, and delete cases.
    </p>
    
    <div class="govuk-button-group">
      <a href="/cases" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        View all cases
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>
      
      <a href="/cases/new" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Create new case
      </a>
    </div>
    
    <h2 class="govuk-heading-m">About this system</h2>
    <p class="govuk-body">
      This case management system allows you to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Create new cases with titles, descriptions, and due dates</li>
      <li>View a list of all cases with pagination</li>
      <li>View detailed information about each case</li>
      <li>Update case information including status changes</li>
      <li>Delete cases when they are no longer needed</li>
    </ul>
  </div>

    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-s">Quick links</h3>
      <ul class="govuk-list">
        <li>
        <a href="/cases" class="govuk-link">View all cases</a>
      </li>
      <li>
        <a href="/cases/new" class="govuk-link">Create new case</a>
      </li>
      <li>
        <a href="/api-docs" class="govuk-link">API documentation</a>
      </li>
    </ul>
  </div>
</div>
