<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hello World</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>

    <main id="main-content" role="main">
        <% if (typeof pageHeading !=='undefined' ) { %>
            <h1>
                <%= pageHeading %>
            </h1>
            <% } %>

            <%- body %>
    </main>

</body>

</html>