<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
  <meta charset="utf-8">
  <title><%= typeof title !== 'undefined' ? title + ' - ' : '' %>Case Management System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#0b0c0c">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico" type="image/x-icon">
  <link rel="icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico" type="image/x-icon">
  
  <link rel="stylesheet" href="/assets/stylesheets/main.css">
</head>
<body class="govuk-template__body">

    <main class="govuk-main-wrapper" id="main-content" role="main">
        <% if (typeof pageHeading !=='undefined' ) { %>
            <h1>
                <%= pageHeading %>
            </h1>
            <% } %>

            <%- body %>
    </main>
    <script src="/assets/javascripts/govuk-frontend.min.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
</body>

</html>