$govuk-assets-path: "/assets/";
$govuk-images-path: "#{$govuk-assets-path}images/";
$govuk-fonts-path: "#{$govuk-assets-path}fonts/";
$govuk-font-family: "Arial", sans-serif;

@use "../../../node_modules/govuk-frontend/dist/govuk/all" as govuk;

.govuk-\!-no-align {
    align-items: center !important;
}

.govuk-notification-banner {
    margin-top: 50px;
    margin-bottom: 0;
}